$blackColor: #0d1011;
$darkGrayColor: #171b1c;
$middleGrayColor: #252a2b;
$lightGrayColor: #464e50;
$whiteColor: #f0f2f3;
$mainColor: #fe0c1a;

$opacityColor: rgba(240, 242, 243, 0.2);

$brightShineColor: rgba(240, 242, 243, 0.3);
$brightShadowColor: rgba(240, 242, 243, 0.1);
$brightShadowColorTakeOf: rgba(240, 242, 243, 0.06);
